@model TeamCodingF4.Models.ArticalModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArticalModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AriticalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AriticalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticlePublisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticlePublisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
