@model IEnumerable<TeamCodingF4.Models.ArticalModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AriticalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlePublisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AriticalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticlePublisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleCategory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
