@model TeamCodingF4.Models.EstateModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EstateModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstateTittle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstateTittle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EststePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EststePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miscellaneous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miscellaneous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motorcycle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motorcycle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirConditioner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Television)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Television)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WetDry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WetDry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balcony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balcony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WashingMachine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WashingMachine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterDispenser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterDispenser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refrigerator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refrigerator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatePicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstatePicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstateVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstateVideo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.message)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EstateId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
