@model IEnumerable<TeamCodingF4.Models.EstateModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstateTittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EststePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miscellaneous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motorcycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirConditioner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Television)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WetDry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balcony)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WashingMachine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterDispenser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refrigerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstateVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstateTittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EststePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miscellaneous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motorcycle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirConditioner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Television)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WetDry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balcony)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WashingMachine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterDispenser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refrigerator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstatePicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstateVideo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EstateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EstateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EstateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
